@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

*{
    margin: 0;
    padding:0;
}
body{
    font-family: poppins, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

header{
    background:url(../img/hyfa1.png);
    background-size: cover;
    border-bottom: 12px solid gold;
  

}

/*features*/

#feature{
    border-bottom: 11px solid gold;
}

#feature img{
    width: 100%;
}

section {
    font-size: 14px;
    background-color: black;
    
}

nav{
    display: flex;
    justify-content:right;
}

/** nav transition **/
.display{
    display: none;
}

nav ul{
    margin: 2rem;
    background: #000000ad;
}

nav ul li{
    display: inline-block;
    margin: 1rem;
    padding-top: ;
}

nav ul li a{
    text-decoration: none;
    color: white;
    padding: 1rem;
}

/** Logo **/
.logo{
    position: absolute;
    right: 50px;
    top: 0px;
    font-weight: bolder;
    color: black;
    background: gold;
    padding: .5rem;
}

#logo{
    position: relative;
    top: 25px;
    left: 205px;
    
}

/** Menu Button **/
.container {
    display: inline-block;
    cursor: pointer;
    padding:2rem;
    right: 55px;
    top: 45px;
  }
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: gold;
    margin: 6px 0;
    transition: 0.4s;
  }

  .change .bar1{
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  .change .bar2{
    opacity: 0;
}
.change .bar3{
    -webkit-transform: rotate(-45deg) translate(-8px, 8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

/*Course*/

#course{
    text-align: center;
    padding: 4rem;
}

 h2{
    background: gold;
    margin-bottom: 2rem;
    padding: 2rem;
}

.courses{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

#course img{
    padding: 1rem;
    width: 200px;
    height: 200px;
    background: gold;background: gold;
}

.apply{
    padding-bottom: 2rem;
}

.apply h2{
    padding: 0;
    background-color: #4a4c5a;
    width: 200px;
    margin: 0 auto;
}

/* staff */
#staffs{
    text-align: center;
    padding: 4rem;
}

#staffs h2{
    background: gold;
}

#staffs h3{
    color: gold;
}

.faculty-staffs{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 2rem;
 
}

.faculty-staffs img{
    width: 150px;
    height: 150px;
    position: relative;
    top: -25px;
    left: -25px;
    border-radius: 100% ;
}

.staff{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: 14px solid #ffd700;
    padding: 2rem;
    margin: 2rem;
}

/* Footer */

footer{
    text-align: center;
    background: #000;
}

footer a{
    text-decoration: none;
    color: gold;
}

footer .link {
    background-color: gold;
}

footer .link .foot-nav {
    list-style: none;

}

footer .link .foot-nav li{
    padding: .5rem;
}

footer .link .foot-nav li a{
    color: black;
    padding: .5rem;
}

.icons{
    padding: 1rem;
    font-size: 2rem;
    background-color: whitesmoke;
}

.icons-logo{

}

.icons h2{
    font-size: 100%;
}

.copyright{
    padding: 1rem;
    font-size: 60%;
    color: white;
}

