@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: poppins, sans-serif;
    line-height: 1.7;
}


header{
   height: 20vh; 
    line-height: 1.2;
    padding: 2rem;
    font-size: 120%;
    background-color: black;
    color: white;
   
}



.heading{
    text-align: center;
    height: 10vh;
    font-size: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading h1{
    color: #988c01;
}

.brand-title{
    padding-left: .5rem;
    color: black;
    font-weight: bold;

}

.brand-title a{
    text-decoration: none;
    color: black;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    color: white;
    position: sticky;
    top: 0;
    background: linear-gradient(45deg, #988c01, #000000e0);
}

.brand-title{
    font-size: 1.5rem;
    margin: .5rem;
}

.navbar-links ul{
    display: flex;
}

.navbar-links li{
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
    font-weight: lighter;
}

.navbar-links li:hover{
    background-color: #ccc;
}

.navbar-links li a:hover{
    color: black;
}


img{
    max-width: 100%;
}



/* Intro */

#intro{
    text-align: center;
    padding: 3rem;
}

#intro h1{
    margin-bottom: 1rem;
}

/* Courses */

#course{
    text-align: center;
    margin-bottom: 3rem;
}

#course h1{
    padding: 2rem;
}

.apply{
    margin-bottom: 2rem;
}

.apply h2{
    background: #000;
    width: 50%;
    margin: 0 auto;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-weight: lighter;
}

.apply img{
    width: 320px;
    height: 300px;
    border-radius: 10%;
    padding: 1rem;
}

.courses{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#feature img{
    width: 100%;
}

#staffs{
    background: black;
    color: white;
}

#staffs h1{ 
    padding-top: 2rem;
}

.faculty-staffs{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 2rem 2rem 4rem 2rem;}

.staff{
    width: 350px;
    display: flex;
    margin-bottom: 3rem;
}

#staffs h1{
    text-align: center;
}

.staff img{
    width: 150px;
    height: 150px;
    border-radius: 100px;
    margin-right: 1rem;
}

.name h3{
    color: #988c00;
}

/* Social media */

.icons{
    text-align: center;
    padding: 1rem;
}
.icons h6{
    font-size: 100%;
}

.icon-logo{
    font-size: 230%;
}


/*footer*/

.link .foot-nav{
    list-style: none;
    display: flex;
    justify-content: space-around;
    background: black;
}

.link .foot-nav li a{
    text-decoration: none;
    color: white;
}

.copyright{
    text-align: center;
    font-size: 50%;
}

.copyright a{
    text-decoration: none;
    color: #988c00;
}







@media screen and (max-width: 768px){

    .logo{
        margin-left: 2rem;
    }
    .bar{
        width: 30px;
        height: 3px;
        background: black;
        margin: .5rem;
    }

  
    .navbar-links{
        width: 100%;
        display:none;
    }

    .hamburger{
        position: absolute;
        top: 7px;
        right: 5%;
    }

    .navbar{
        flex-direction: column;
        align-items: flex-start;
        position: relative;
        position: sticky;
        top: 0;
        background: linear-gradient(45deg, #988c01, #000000e0);

    }

    .navbar-links ul{
        background: linear-gradient(45deg, #918602, transparent);
        flex-direction: column;
        width: 100%;
    }

    .navbar-links ul li{
        text-align: center;
    }

    .navbar-links li a{
        padding: .5rem 1rem;
        border-bottom: 1px solid;
    }
    
    .navbar-links.active{
        display: flex;
    }

    .ltd{
        display: none;
    }

}