@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: poppins, sans-serif;
    line-height: 1.7;
}


div.active{

    color: black;
    background-color: #ccc;
}

header{
   
    line-height: 1.2;
    padding: 1rem;
    font-size: 120%;
    background-color: black;
    color: white;
   
}

.quickLink{
    display: flex;
    flex-direction: column;
    align-items: flex-end;    
    position: relative;
    width: 200px;
    height: 90px;
    right: 70px;

}

.applys{
    color: black;
    border: 1px solid white;
    padding: .3rem;
    position: absolute;
    top: 0;
    background: #988c00;
    text-transform: uppercase;
    font-weight: bolder;
}

.more{
    border: 1px solid white;
    padding: .2rem;
    position: absolute;
    top: 29px;
    text-transform: uppercase;
    font-weight: bolder;

}

.fa-search{
    border: 1px solid white;
    padding: .2rem;
    position: absolute;
    top: 70px;
    color: black;
    background: white;
    border-radius: 2px;
}




.heading{
    text-align: center;
    height: 10vh;
    font-size: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading h1{
    color: #988c01;
}

#biglogo{
    max-width: 960px;
    padding: 5rem;
}

#smalllogo{
    display: none;
}

.brand-title{
    color: black;
    font-weight: bold;
    color: #fefefe;
    padding: 0 .5rem 0 .5em;

}

.brand-title{
    font-size: 1.5rem;
    
}

.brand-title a{
    text-decoration: none;
    color: black;
}

.brand-title a:hover{
    color:#fff;
}

.navbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #fff;
    color: white;
    position: sticky;
    top: 0;
    background: linear-gradient(45deg, #988c01, #000000e0);
    z-index: 9;
}



.navbar-links ul{
    display: flex;
}

.navbar-links li{
    list-style: none;
    margin: 0 .2rem;
    
}

.navbar-links li a {
    text-decoration: none;
    color: white;
    padding: 0 .7rem;
    display: block;
    font-weight: lighter;
}

.navbar-links li:hover{

}

.navbar-links li a:hover{
    color: black;
    border-bottom: px solid black;
    background-color: #ccc;


}


img{
    max-width: 100%;
}



/* Intro */

#intro{
    text-align: center;
    padding: 3rem;
}

#intro h1{
    margin-bottom: 1rem;
    color: #7a710a;
}

/* Courses */

#course{
    text-align: center;
    margin-bottom: 3rem;
    color: #7a710a;
    max-width: 960px;
    margin: 0 auto;
    margin-bottom: 5rem;
}

#course h1{
    padding: 2rem;
}

.apply{
    margin-bottom: 2rem;
}

.apply img:hover{
    transform: scale(1.1);

    
}

.apply h2{
    background: #000;
    width: 50%;
    margin: 0 auto;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-weight: lighter;
}

.apply h2:hover{
    background-color: #7b7304;

}

.apply img{
    width: 320px;
    height: 300px;
    border-radius: 10%;
    padding: 1rem;
    cursor: pointer;
}

.courses{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#feature img{
    width: 100%;
}

#staffs{
    background: black;
    color: white;
}

#staffs h1{ 
    padding-top: 2rem;
}

.faculty-staffs{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 2rem 2rem 4rem 2rem;}

.staff{
    width: 350px;
    display: flex;
    margin-bottom: 3rem;
}

#staffs h1{
    text-align: center;
    color: #fff;
}


.staff img{
    width: 150px;
    height: 150px;
    border-radius: 100px;
    margin-right: 1rem;
}

.name h3{
    color: #676114;;
}

.name p{
    color: #ffffffad;
    font-weight: lighter;
    line-height: 1.5;}

/* Social media */

.icons{
    text-align: center;
    padding: 1rem;
}
.icons h6{
    font-size: 100%;
}

.icon-logo{
    font-size: 230%;
}


i.fab{
    color:black;
}

i.fab:hover{
    color: white;
}




/*footer*/

footer{
    background: linear-gradient(45deg, #655e06, transparent);
}

.link .foot-nav{
    list-style: none;
    display: flex;
    justify-content: center;
    background: black;
    font-size: 50%;
}

.link .foot-nav li{
    padding: .5rem;
}

.link .foot-nav li a{
    text-decoration: none;
    color: white;
}

.link .foot-nav li a:hover{
    color: #7b7304;
}

.copyright{
    text-align: center;
    font-size: 50%;
}

.copyright a{
    text-decoration: none;
    color: #988c00;
}

/*rate card*/

#rating{
    padding: 2rem;
}

#rating h2{
    text-align: center;
    margin-bottom: 2rem;
    color: #7a710a;
    
}

i.fas.fa-star {
    color: #ffc107;
}

div.rate-card{
    max-width: 60%;
    margin: 0 auto;
}

.ratings{
    padding-bottom: 3rem;
}

div.comment{
    padding: 2rem 0;
}

.ltd{
    display: none;
}

@media screen and (max-width: 768px){


    #biglogo{
        display: none;
    }

    #smalllogo{
        max-width: 300px;
        display: block;
    }

    .logo{
        margin-left: 2rem;
    }
    .bar{
        width: 30px;
        height: 3px;
        background: white;
        margin: .5rem;
    }

  
    .navbar-links{
        width: 100%;
        display:none;
    }

    .hamburger{
        position: absolute;
        top: 0px;
        right: 5%;
    }

    .navbar{
        flex-direction: column;
        align-items: flex-start;
        position: relative;
        position: sticky;
        top: 0;
        background: linear-gradient(45deg, #988c01, #000000e0);

    }

    .navbar-links ul{
        background: linear-gradient(45deg, #918602, transparent);
        flex-direction: column;
        width: 100%;
    }

    .navbar-links ul li{
        text-align: center;
    }

    .navbar-links li a{
        padding: .5rem 1rem;
        border-bottom: 1px solid;
    }
    
    .navbar-links.active{
        display: flex;
    }

    .ltd{
        display: none;
    }

}