*{
    box-sizing: border-box;
}


.quickLink{
    display: flex;
    flex-direction: column;
    align-items: flex-end;    
    position: relative;
    width: 200px;
    height: 90px;
    right: 70px;

}

.applys{
    color: black;
    border: 1px solid white;
    padding: .3rem;
    position: absolute;
    top: 0;
    background: #988c00;
    text-transform: uppercase;
    font-weight: bolder;
}

.info{
    border: 1px solid white;
    padding: .2rem;
    position: absolute;
    top: 29px;
    text-transform: uppercase;
    font-weight: bolder;

}

.fa-search{
    border: 1px solid white;
    padding: .2rem;
    position: absolute;
    top: 70px;
    color: black;
    background: white;
    border-radius: 2px;
}

.brand-title {
    background-color: black;
   
}

.brand-title a{
    color: #988c00;
}


#page-text{
    max-width: 960px;
    margin: 0 auto;
}

.card{
    max-width: 800px;
    margin: 0 auto;
    position: relative;
    top: -48px;}

.card .main-header {
    background: #988c00;
}

.card h1{
    color: white;
    text-align: left;

}

.iconLink{
    display: flex;
    justify-content: space-evenly;
    background: #d4d1d1;
    padding: 1.5rem;
    flex-wrap: wrap;
}

.iconLink a{
    display: inline-block;
    width: 70px;
    height: 70px;
    border: 6px solid black;
    border-radius: 50px;
    color: black;
}

.iconLink a i{
    padding: 25px 0 25px 1px;;
}

.fa-university{
    font-size: 2.5rem;
        /* margin: 0 0 2rem 0; */
        position: relative;
        bottom: 1.2rem;

}

.circle{
    text-align: center;
    padding:.3rem;
    font-size: .7rem;
}

p{
    padding: .5rem;
}

.history{
    max-width: 840px;
    margin: 0 auto;
}

.history p{
    padding: 0 1rem 1rem 1rem;
}

.history img{
    padding: 0 1rem;
}









li a.active{

    color: black;

    background-color: #ccc;


}

#page-text{
    background: #fff;
}


.div2 p{
    margin-top: 0;
    padding-top: 0;
}


.caption{
    /*width: 430px;*/
    margin: 0 auto;
}
 #page-text img{
    max-width: 100%;
    padding: 0 2rem;
}

.about-page{
    max-width: 960px;
    margin: 0 auto;
}

/*h1{
    color: #988c01;
    text-shadow: 1px 2px black;
   
}*/

.about h1{
    border-bottom: 4px dotted #988c01;
}

.about{
    padding:2rem;
    color: black;
    background-image: linear-gradient( hsla(0deg, 0%, 100%, 0.6 ) 50%, white), 
    url(../img/slide.jpg) ;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.about p{
    padding: 1rem;
}

.para{
    color: black;
    margin: 1rem;
    padding: .5rem;

}

#filmstrip{
    background-image: linear-gradient( hsl(0 0% 100%) 50%, #988c0100),
    url(../img/filmstrip.jpg);
    background-position:left ;
    background-size: cover;
    background-repeat: no-repeat;
}

#filmstrip p{
    margin-bottom: 0;
    padding-bottom: 5rem;
}



@media only screen and (min-device-width: 960px){

    header h1{
        font-size: 200%;
    }

    nav{
        
        background: #998d07;
        justify-content: flex-end;
       
    }

    

    


    #menu{
        visibility: hidden;
    }

    .display{
        display: flex;
        margin: 0;
        background: none;
        margin-right: 3rem;
    }

    .display li{
        margin: .5rem;
        font-size: 150%;
        
    }

    .display li a{
        color: black;
    }

    .about{
        padding-top: 5rem;
    }

    .logo{
        visibility: visible;
        
    }

    .logo a{
        text-decoration: none;
        color: black;
    }

    .about-page{
        display: flex;
    }

    .div1, .div2{
        max-width: 50%;
    }


    .courses{
        display: flex;
        
        
    }

   

    #course img{
        width: 290px;
        height: 290px;
    }


    .staff{
        width: 250px;
    }
}