*{
    box-sizing: border-box;
}


.quickLink{
    display: flex;
    flex-direction: column;
    align-items: flex-end;    
    position: relative;
    width: 200px;
    height: 90px;
    right: 70px;

}

.applys{
    color: black;
    border: 1px solid white;
    padding: .3rem;
    position: absolute;
    top: 0;
    background: #988c00;
    text-transform: uppercase;
    font-weight: bolder;
}

.info{
    border: 1px solid white;
    padding: .2rem;
    position: absolute;
    top: 29px;
    text-transform: uppercase;
    font-weight: bolder;

}

.fa-search{
    border: 1px solid white;
    padding: .2rem;
    position: absolute;
    top: 70px;
    color: black;
    background: white;
    border-radius: 2px;
}



.brand-title a{
    color: #988c00;
}


#page-text{
    max-width: 960px;
    margin: 0 auto;
    background: #fff;
}

.card{
    max-width: 800px;
    margin: 0 auto;
    position: relative;
    top: -55px;}

.card .main-header {
    background: #988c00;
}

.card h1{
    padding: .2rem 2rem;
    color: white;
    text-align: left;

}

.iconLink{
    display: flex;
    justify-content: space-evenly;
    background: #d4d1d1;
    padding: 1.5rem;
    flex-wrap: wrap;
}

.iconLink a{
    display: inline-block;
    color: black;
}

.iconLink a i{
    padding: 25px 0 25px 1px;;
}

.ring{
    border: 6px solid black;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    background: white;
}

.ring:hover{
    border: 6px solid #988c00;
}

.circle{
    text-align: center;
    padding:.3rem;
    font-size: .7rem;
}

p{
    padding: .5rem;
}

.history{
    max-width: 840px;
    margin: 0 auto;
    position: relative;
    top: -22px;
}

.history p{
    padding: 0 1rem 1rem 1rem;
}



.cine{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cine-text{
    max-width: 440px;
    padding: 0 .5rem;
}
.cine-img{
    max-width: 400px;
    padding: .2rem;
}

.cine-img img{
    max-width: 100%;
    padding: 0 1rem;
}


#boardroom{
    max-width: 100%;
    padding: 0;
}






li a.active{

    color: black;

    background-color: #ccc;


}



.div2 p{
    margin-top: 0;
    padding-top: 0;
}


.caption{
    /*width: 430px;*/
    margin: 0 auto;
}
 img{
    max-width: 100%;
    /*padding: 0 2rem;*/
}

.about-page{
    max-width: 960px;
    margin: 0 auto;
}

/*h1{
    color: #988c01;
    text-shadow: 1px 2px black;
   
}*/

.about h1{
    border-bottom: 4px dotted #988c01;
}

.about{
    padding:2rem;
    color: black;
    background-image: linear-gradient( hsla(0deg, 0%, 100%, 0.6 ) 50%, white), 
    url(../img/slide.jpg) ;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.about p{
    padding: 1rem;
}

.para{
    color: black;
    margin: 1rem;
    padding: .5rem;

}

#filmstrip{
    background-image: linear-gradient( hsl(0 0% 100%) 50%, #988c0100),
    url(../img/filmstrip.jpg);
    background-position:left ;
    background-size: cover;
    background-repeat: no-repeat;
}

#filmstrip p{
    margin-bottom: 0;
    padding-bottom: 5rem;
}



/* course page css*/

h3{
    padding: .47rem .9rem;
    text-align: center;
    color: white;
}

.programmes{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 2rem 0;
}

.program{
    margin-bottom: 4rem;
}

.box{
    max-width: 250px;
    height: 187.5px;
}

#apply h1{
    text-align: center;
    color: black;
    text-transform: uppercase;
}

#apply h1:hover{
    background-color: #988c00;
    color: white;
    cursor: pointer;
}



@media screen and (max-width: 768px){
    /*About page design*/

    .cine{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .cine-text{
        max-width: 300px;
        padding: 0 .5rem;
    }
    .cine-img{
        max-width: 350px;
        padding: .2rem;
    }
}